# Data Science Tools and Ecosystem 
### Module 6 - Student Project

In this notebook, Data science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List common libraries
* List Development environments
* Show some examples

## Author 
Doug Mellen

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scalca
4. SAS
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. matplotlib
4. spark

| Data Science Tools |
| --- |
| Jupyter           |
| R                 |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335